@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-1 {
  @apply bg-gradient-to-tr from-primary to-secondary;
}

.text-gradient-1 {
  @apply bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent;
}
